@charset "UTF-8";
/* -------------------------------------------------------------------------------- */
/* Outfit: font-family: "Outfit", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* Poppins: font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");
/* Jost */
/* -------------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500; }

body {
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  padding: 1rem;
  padding-bottom: 3em;
  position: relative;
  min-height: 100vw; }

.titulo_principal, .main_index .titulo1, .main_catalogo .titulo1 {
  font-family: "Madimi One", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #f388e6;
  padding: 1.5rem 2rem 1.5rem 2rem; }

.titulo_cabecera, .main_nosotros .cabecera, .main_blog .cabecera, .grid_contacto .cabecera {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem 1rem 0rem;
  gap: .5rem; }
  .titulo_cabecera h1, .main_nosotros .cabecera h1, .main_blog .cabecera h1, .grid_contacto .cabecera h1 {
    font-family: "Madimi One", sans-serif;
    font-size: 3rem;
    text-align: center;
    color: white;
    background-color: #f388e6;
    padding: 1rem 0rem 1rem 0rem;
    text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2); }
  .titulo_cabecera p, .main_nosotros .cabecera p, .main_blog .cabecera p, .grid_contacto .cabecera p {
    font-size: 18px;
    text-align: center; }

.titulo_secundario, .grid_contacto .apartado h2, .grid_contacto .form .text_form h2 {
  font-family: "Madimi One", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 1rem; }

.parrafo_general {
  font-size: 20px;
  text-align: center; }

.texto_centrado_box, .main_index .grid_container .texto_top, .main_index .grid_container .texto_ofertas, .main_index .grid_container .texto_snack, .container_p1 .box_container .box {
  display: flex;
  /* el contenido se alinee correctamente */
  flex-direction: column;
  align-items: center;
  /* Centra verticalmente el contenido */
  justify-content: center;
  /* Centra horizontalmente el contenido */
  text-align: center;
  padding: 1rem; }
  .texto_centrado_box h2, .main_index .grid_container .texto_top h2, .main_index .grid_container .texto_ofertas h2, .main_index .grid_container .texto_snack h2, .container_p1 .box_container .box h2 {
    font-family: "Madimi One", sans-serif; }
  .texto_centrado_box h3, .main_index .grid_container .texto_top h3, .main_index .grid_container .texto_ofertas h3, .main_index .grid_container .texto_snack h3, .container_p1 .box_container .box h3 {
    font-family: "Madimi One", sans-serif; }
  .texto_centrado_box p, .main_index .grid_container .texto_top p, .main_index .grid_container .texto_ofertas p, .main_index .grid_container .texto_snack p, .container_p1 .box_container .box p {
    font-size: 1rem; }

.texto_resaltado, .main_blog .grid_page3 .img_3 h2, .main_blog .grid_page3 .img_4 h2, .main_blog .grid_page3 .img_5 h2, .main_blog .grid_page3 h2 {
  background-color: rgba(0, 0, 0, 0.584);
  /* Color de fondo semi-transparente */
  padding: 5px 10px;
  /* Ajusta el relleno para que el fondo del texto sea visible */
  color: #ffffff;
  /* Color del texto */
  text-align: center;
  font-size: 20px; }

.boton_seleccion, .main_index .grid_container .texto_top .boton, .main_index .grid_container .texto_ofertas .boton, .main_index .grid_container .texto_snack .boton, .container_p1 .box_container .box .boton, .grid_contacto .form .form_container .form_submit {
  display: inline-flex;
  font-family: "Madimi One", sans-serif;
  font-size: 16px;
  font-weight: 300px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #f388e6;
  color: #333;
  padding: 8px 18px;
  border-radius: 4px;
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all .5s ease; }
  .boton_seleccion:hover, .main_index .grid_container .texto_top .boton:hover, .main_index .grid_container .texto_ofertas .boton:hover, .main_index .grid_container .texto_snack .boton:hover, .container_p1 .box_container .box .boton:hover, .grid_contacto .form .form_container .form_submit:hover {
    background-color: #fffa60; }

.header {
  box-shadow: 0px 20px 20px #d8d8d8; }
  .header .container-fluid .nav-item a:hover {
    color: #a91111;
    background-color: #6cbff3;
    margin: 2px; }
  .header .header__logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    background-color: #6cbff3; }
    .header .header__logo .logo_desk {
      width: 200px;
      margin-top: 7px;
      margin-bottom: 7px; }
    .header .header__logo .logo_cellphone {
      display: none; }

/* pseudoclase para el navegador = para todos */
.header .container-fluid .nav-item a:hover {
  color: #a91111;
  background-color: #6cbff3;
  margin: 2px; }

/* -----------------------INDEX--------------------------- */
/* ------------------- HEADER (logo, lista navegacion y banner) -------------------*/
/* 1) Logo */
.header .header__banner .banner_promo img {
  /* le pongo 100vw si quiero que ocupe el total de la pantalla y 100% si quiero que ocupe el total de mi caja*/
  width: 100%; }

.header .header__banner .banner_celu {
  display: none; }

/* -------------------------- GRILLAS -------------------------- */
.main_index {
  margin-bottom: 1rem; }
  .main_index .titulo1 {
    /* arriba, derecha, abajo,izquierda */ }
  .main_index .grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "section1 img_top" "img_oferta section2" "section3 img_snack";
    grid-auto-rows: minmax(320px, auto);
    row-gap: 1rem;
    margin-top: 1rem; }
    .main_index .grid_container .texto_top {
      grid-area: section1;
      background-color: #86EACC; }
    .main_index .grid_container .img_top {
      grid-area: img_top;
      background-color: #fffa60;
      background-image: url("https://dunkin.cl/wp-content/uploads/2022/04/donuts-inicio-chile-300x300.png");
      background-position: center;
      background-size: contain;
      /* Ajusta el tamaño de la imagen para que se ajuste dentro del contenedor */
      background-repeat: no-repeat; }
    .main_index .grid_container .texto_ofertas {
      grid-area: section2;
      background-color: #86EACC; }
    .main_index .grid_container .img_ofertas {
      grid-area: img_oferta;
      background-color: #f388e6;
      background-image: url("https://dunkindonuts12.files.wordpress.com/2019/06/745x420-menu.png");
      background-position: center;
      background-size: contain;
      /* Ajusta el tamaño de la imagen para que se ajuste dentro del contenedor */
      background-repeat: no-repeat; }
    .main_index .grid_container .texto_snack {
      grid-area: section3;
      background-color: #86EACC; }
    .main_index .grid_container .img_snack {
      grid-area: img_snack;
      background-color: #fffa60;
      background-image: url("https://quirkymarketingcalendar.com/wp-content/uploads/2013/04/munchkins-from-Dunkin-Donuts.png");
      background-position: center;
      background-size: contain;
      /* Ajusta el tamaño de la imagen para que se ajuste dentro del contenedor */
      background-repeat: no-repeat; }

@media (max-width: 650px) {
  .main_index .grid_container {
    grid-template-columns: repeat(1, 100%);
    grid-template-areas: "section1" "img_top"  "section2" "img_oferta" "section3" "img_snack"; }
  /* cambiar tamaño de la grilla del index */ }

/* ------------------ PAGE 1------------------ */
.main_catalogo {
  display: flex;
  flex-direction: column; }
  .main_catalogo .container_p1 {
    margin-bottom: 1rem;
    padding-bottom: 1rem; }
    .main_catalogo .container_p1 .box_container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
      padding-top: 1.5rem; }

.container_p1 .box_container .box {
  box-shadow: 0 5px 10px #646262;
  border-radius: 6px;
  background-color: white;
  text-align: center;
  padding: 30px 20px; }
  .container_p1 .box_container .box img {
    height: 90px; }
  .container_p1 .box_container .box h3 {
    font-size: 22px;
    padding: 10px; }

/* PSEUDOCLASES: */
.container_p1 .box_container .box:hover {
  box-shadow: 0 10px 15px #646262;
  transform: scale(1.03); }

/* --------  MEDIA QUERY ----------*/
/* Estrategia responsive = Mobile Last */
@media (max-width: 1000px) {
  .main_catalogo .container_p1 .box_container {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 270px; } }

@media (max-width: 600px) {
  /* Cambiar el tamaño de la grilla del catalogo */
  .main_catalogo .container_p1 .box_container {
    grid-template-columns: repeat(1, 100%); } }

/* ------------------ PAGE 2------------------ */
/* la clase se puede reciclar para distintas grillas:mantengo el estilo general */
/* grid con filas y columnas explicitas */
.main_nosotros .grid_galery {
  display: grid;
  /* hago 4 columnas de una fraccion */
  grid-template-columns: repeat(5, 1fr);
  /* uso auto-rows porque quiero q todas mis filas midan lo mismo */
  grid-auto-rows: 400px;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem; }
  .main_nosotros .grid_galery .grid_item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* hacer los bordes redondeados */
    border-radius: 8px;
    border: none;
    box-shadow: -1px 2px 15px 0px #646262;
    /* hacer que la imagen se ajuste a la medida de mi grilla */
    background-size: cover;
    background-position: center; }

/* --------  MEDIA QUERY ----------*/
/* Estrategia responsive = Mobile Last */
@media (max-width: 900px) {
  .main_nosotros .grid_galery {
    /* hago 4 columnas de dos fraccion */
    grid-template-columns: repeat(2, 2fr); } }

@media (max-width: 600px) {
  /*Cambia el tamaño de la grilla de la galeria */
  .main_nosotros .grid_galery {
    grid-template-columns: repeat(1, 100%); } }

/* ------------------ PAGE 3 ------------------ */
.main_blog {
  display: flex;
  flex-direction: column;
  margin-top: 1rem; }
  .main_blog .grid_page3 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "img0 img0 img1 img2" "img3 img4 img5 img5";
    grid-auto-rows: 300px;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .main_blog .grid_page3 .img_0 {
      grid-area: img0;
      background-color: aquamarine;
      background-image: url("https://algunwey.com/wp-content/uploads/2018/07/curiosidades-donas-origen-historia.jpg");
      background-size: cover;
      background-position: center; }
      .main_blog .grid_page3 .img_0 a {
        text-decoration: none; }
    .main_blog .grid_page3 .img_1 {
      grid-area: img1;
      background-color: #f6f68f;
      background-image: url("https://mdr.ar/download/multimedia.miniatura.b1ff4d1dc341bf67.ZG9uYXMtY2FzZXJhc19taW5pYXR1cmEud2VicA%3D%3D.webp");
      background-size: cover;
      background-position: center; }
      .main_blog .grid_page3 .img_1 a {
        text-decoration: none; }
    .main_blog .grid_page3 .img_2 {
      grid-area: img2;
      background-color: #ac6ce7;
      background-image: url("https://www.gourmet.cl/wp-content/uploads/2022/10/RECETA-donuts-alta-9.jpg");
      background-size: cover;
      background-position: center; }
      .main_blog .grid_page3 .img_2 a {
        text-decoration: none; }
    .main_blog .grid_page3 .img_3 {
      grid-area: img3;
      background-image: url("https://img.freepik.com/vector-gratis/principales-grupos-alimentos-macronutrientes-vector_1308-125587.jpg");
      background-size: cover;
      background-position: center; }
      .main_blog .grid_page3 .img_3 a {
        text-decoration: none; }
    .main_blog .grid_page3 .img_4 {
      grid-area: img4;
      background-image: url("https://vitinasrv.com/wp-content/uploads/2021/02/Funciones-del-equipo-de-la-Pasteleria.jpg");
      background-size: cover;
      background-position: center; }
      .main_blog .grid_page3 .img_4 a {
        text-decoration: none; }
    .main_blog .grid_page3 .img_5 {
      grid-area: img5;
      background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/elespectador/4QOXURZZLJB4HEKAQGJNAPRRTQ.jpg");
      background-size: cover;
      background-position: center; }
      .main_blog .grid_page3 .img_5 a {
        text-decoration: none; }

/* Pseudoclase para la etiqueta <a> */
.grid_page3 .img_1 a h2:visited {
  color: #757585; }

.grid_page3 a h2:hover {
  color: #00d5ff; }

/* --------  MEDIA QUERY ----------*/
/* Estrategia responsive = Mobile Last */
@media (max-width: 900px) {
  .main_blog .grid_page3 {
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "img0 img1" "img2 img3" "img4 img5"; } }

@media (max-width: 600px) {
  /* cambiar el tamaño de la grilla blog/page3 */
  .main_blog .grid_page3 {
    grid-template-columns: repeat(1, 100%);
    grid-template-areas: "img0" "img1" "img2" "img3" "img4" "img5"; } }

/* ------------------ PAGE 4 ------------------ */
.grid_contacto {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "titulo titulo titulo" "form form aside";
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .grid_contacto .cabecera {
    grid-area: titulo; }
  .grid_contacto .apartado {
    grid-area: aside;
    background-color: #74eeee; }
  .grid_contacto .form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #86EACC;
    padding: 3rem 2rem;
    border-radius: 10px;
    box-shadow: -1px 2px 15px 0px #646262;
    gap: 1.5rem; }
    .grid_contacto .form .text_form p {
      font-size: 20px;
      text-align: center; }
    .grid_contacto .form .form_container {
      margin-top: 1rem;
      display: grid;
      gap: 1rem; }
      .grid_contacto .form .form_container .form_group {
        position: relative;
        color: #b1b0b0; }
        .grid_contacto .form .form_container .form_group .form_input {
          width: 100%;
          font-family: "Montserrat Alternates", sans-serif;
          border-radius: 5px;
          border-color: #b1b0b0;
          margin-bottom: .5rem; }
      .grid_contacto .form .form_container .form_submit {
        align-items: center;
        justify-content: center;
        margin-top: 1rem; }

/* --------  MEDIA QUERY ----------*/
/* Estrategia responsive = Mobile Last */
@media (max-width: 900px) {
  /* Modificar medida page 4, paso de grid a flex en columna */
  .grid_contacto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; } }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #efa54a;
  font-size: 12px;
  width: 100%;
  margin: auto;
  gap: 10px; }
  .footer .g1_footer {
    display: flex;
    align-items: flex-start;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 1.5rem;
    width: 100%;
    padding: 1rem; }
    .footer .g1_footer .box h4 {
      font-size: 20px;
      text-align: center;
      color: white;
      margin-bottom: 10px;
      font-weight: 550; }
    .footer .g1_footer .box ul {
      list-style-type: none; }
      .footer .g1_footer .box ul li a {
        font-size: 15px;
        text-decoration: none;
        color: #fff7f7;
        display: block;
        margin-bottom: 8px;
        transition: all .5s ease; }
    .footer .g1_footer .box .red_social a {
      text-decoration: none;
      display: inline-block;
      min-height: 40px;
      width: 40px;
      background-color: rgba(241, 255, 47, 0.608);
      margin: 0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: white;
      transition: all .5s ease; }
  .footer .g2_footer {
    align-items: center; }
    .footer .g2_footer p {
      color: #4e4d4d; }

/* pseudoclase para el footer = para todos */
.footer .g1_footer .box a:hover {
  color: #86EACC;
  padding-left: 2px; }

.footer .g1_footer .box .red_social a:hover {
  background-color: #86EACC; }

/* --------  MEDIA QUERY ----------*/
/* Estrategia responsive = Mobile Last */
@media (max-width: 640px) {
  .footer .g1_footer {
    justify-content: space-around; }
  /* Cambiar el tamaño de la grilla del catalogo */
  .main_catalogo .container_p1 .box_container {
    grid-template-columns: repeat(1, 100%); } }

@media (max-width: 650px) {
  /* cambiar el color del fondo del navegador y ubicacion del logo*/
  .header .header__logo {
    justify-content: center;
    background-color: #f388e6;
    /* imagenes del logotipo = para todos*/ }
    .header .header__logo .logo_desk {
      display: none; }
    .header .header__logo .logo_cellphone {
      display: block;
      width: 100px; }
  .header .header__banner .banner_compu {
    display: none; }
  .header .header__banner .banner_celu {
    display: block; }
  .footer .g1_footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "box1 box2" "box3 box3"; } }
