/* -------------------------------------------------------------------------------- */
/* Outfit: font-family: "Outfit", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* Poppins: font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");
/* Jost */
/* -------------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500; }

body {
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  padding: 1rem;
  padding-bottom: 3em;
  position: relative;
  min-height: 100vw; }

.titulo_principal {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 2.5rem;
  font-weight: 700px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); }

.titulo_secundario {
  font-family: "Madimi One", sans-serif;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 1rem; }

.texto_centrado_box {
  display: flex;
  /* el contenido se alinee correctamente */
  flex-direction: column;
  align-items: center;
  /* Centra verticalmente el contenido */
  justify-content: center;
  /* Centra horizontalmente el contenido */
  text-align: center;
  padding: 2rem; }

.texto_resaltado {
  background-color: rgba(0, 0, 0, 0.584);
  /* Color de fondo semi-transparente */
  padding: 5px 10px;
  /* Ajusta el relleno para que el fondo del texto sea visible */
  color: #ffffff;
  /* Color del texto */
  text-align: center;
  font-size: 20px; }

.boton_seleccion {
  display: inline-block;
  font-size: 16px;
  font-weight: 300px;
  text-align: center;
  text-decoration: none;
  background-color: #f388e6;
  color: #333;
  font-family: "Madimi One", sans-serif;
  padding: 8px 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1); }
