
.titulo_principal{
    font-family: $fuente_subtitulo; // Usar la variable para la tipografía
    font-size: 3rem;
    // font-weight: 800px;
    text-align: center;
    width: 100%;
    color: white;
    // margin-bottom: 20px;
    // margin-top: 20px;
    text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    // 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color:$rosa;
    padding: 1.5rem 2rem 1.5rem 2rem; 
}

.titulo_cabecera{
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color:$rosa;
    padding: 1rem 0rem 1rem 0rem;
    gap: .5rem;
    // border: solid 4px $celeste;
    h1{
        font-family: $fuente_subtitulo; // Usar la variable para la tipografía
        font-size: 3rem;
        text-align: center;
        color: white;
        background-color:$rosa;
        width: 100%;
        // background-color:rgba(255, 0, 0, 0.294);
        // border-radius: 10px;
        padding: 1rem 0rem 1rem 0rem; ;
        // width: 100%;
        text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    }

    p{
        font-size: 18px;
        text-align: center;
        width: 80%;
        // background-color: rgba(255, 255, 255, 0.6);
        // border-radius: 10px;
    }
}

.cabecera_secundaria{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
    gap: .5rem;
    width: 100%;

    h2{
        font-family: $fuente_subtitulo;
        color: white;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding: 1rem;
        background-color:$rosa;
        width: 100%;
        text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    }

    p{
        font-size: 22px;
        font-weight: bold;
        width: 80%;
        text-align: center;
    }
}

.titulo_secundario{
    font-family: $fuente_subtitulo;
    // text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 20px;
}

.parrafo_general{
    font-size: 20px;
    margin: 20px;
    // text-align: center;
}

.texto_centrado_box{
    display: flex; /* el contenido se alinee correctamente */
    flex-direction: column; 
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    text-align: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
    h2{
        font-family: $fuente_subtitulo;
        padding-bottom: 1rem;
    }

    h3{
        font-family: $fuente_subtitulo;
        font-size: 26px;
        padding: 10px;
    }

    p{ font-size: 20px;
        // font-weight: 550;
        width: 80%;
    }
}

.texto_resaltado {
    background-color: rgba(0, 0, 0, 0.584); /* Color de fondo semi-transparente */
    padding: 5px 10px; /* Ajusta el relleno para que el fondo del texto sea visible */
    color: #ffffff; /* Color del texto */
    text-align: center;
    font-size: 20px;
  }

.boton_seleccion{

    // display: inline-block; 
    // display: inline-flex;
    font-family: $fuente_subtitulo;
    font-size: 16px;
    text-transform: uppercase; //pone todo en mayuscula
    text-align: center;
    text-decoration: none;
    background-color: $rosa;
    color: #333;

    padding: 8px 18px;
    border-radius: 4px;
    border: none;
    box-shadow: $sombra;

    cursor: pointer; //para que seleccione cuando pase el mouse por encima
    transition:all .5s ease; // Transición suave para la animación

    // genero la pseudoclase:
    &:hover {
        background-color: $amarillo;}
}

.boton_banner{

    // display: inline-block; 
    // display: inline-flex;
    font-family: $fuente_subtitulo;
    font-size: 20px;
    text-transform: capitalize; //pone todo en mayuscula
    text-align: center;
    text-decoration: none;
    background-color: $rosa;
    color: #333;

    padding: 10px 25px 10px 25px;
    // arriba, derecha, abajo, izq
    border-radius: 4px;
    border: none;
    box-shadow: $sombra;

    cursor: pointer; //para que seleccione cuando pase el mouse por encima
    transition:all .5s ease; // Transición suave para la animación

    // genero la pseudoclase:
    &:hover {
        background-color:rgba(255, 255, 255, 0.542);
    }
}



// Defino un mixin para las imágenes de fondo, donde paso por parametro el url, lo uso en el index
@mixin img_fondo($url) {
    background-image: url($url);
    // background-size: cover;
    background-position: center;
    background-size: contain; /* Ajusta el tamaño de la imagen para que se ajuste dentro del contenedor */
    background-repeat: no-repeat;
  }

// mixin con dos parametros, url y grid-area .Lo uso en el Blog
@mixin img_blog ($area, $img){
    grid-area: ($area);
    background-image: url($img);
    background-size: cover;
    background-position: center;
    a{
        text-decoration: none;
    }
    h2{
        @extend .texto_resaltado;
    }
}