.header{
    box-shadow: 0px 0px 16px 2px #44444490;
    margin-bottom: 8px;
    .container-fluid {
        // box-shadow: 0px 3px 12px 1px #44444490; //0px 5px 5px 0px #e2e0e0;
        width: 100%;

        .navbar-brand{
            padding-left: 1rem;
            padding-right: 1rem;
            cursor: pointer;
            margin: 10px; 
        }
        .nav-item{
            // padding: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            cursor: pointer;
            transition: all .4s ease;
            margin: 10px;

            a:hover {
                color: $celeste;
                font-weight: bold;
                text-decoration: underline;
                text-decoration-thickness: 4px;
                text-underline-offset: 10px;
                background-color: rgb(255, 255, 255);
                // transform: translateY(-2%);
                // text-shadow:  0px 5px 5px 0px #4c7cf5;
             //    transform: translateY(-3%);
             }
    
            // a:hover {
            //    color: rgb(255, 255, 255);
            //    background-color: $celeste;
            //    border-radius: 4px;
            //    box-shadow: $sombra;
            //    transform: scale(1.02);
            // //    transform: translateY(-3%);
            // }
            
        }
    }
    
    // imagenes del logo = para todos
    .header__logo{

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        // justify-content: flex-start;
        justify-content: center;
        background-color: rgb(108, 191, 243);

        .logo_desk{
            width: 200px;
            margin-top: 7px;
            margin-bottom: 7px;
        }
        .logo_cellphone{ display: none;}

    }
}


/* pseudoclase para el navegador = para todos */
// .header .container-fluid .nav-item a:hover {
//     color: rgb(169, 17, 17);
//     background-color: rgb(108, 191, 243);
//     margin: 2px;

// }
