/* ------------------ PAGE 2------------------ */

/* la clase se puede reciclar para distintas grillas:mantengo el estilo general */

/* grid con filas y columnas explicitas */
.main_nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;

    .cabecera{
        @extend .titulo_cabecera;
    }

    // -----DIVISOOOOR--------------
    .parrafo_e_img{
        background-color: white;
        box-shadow: 0 5px 10px rgba(82, 80, 80, 0.679);
        // background-image: linear-gradient(to bottom, rgb(255, 226, 231)
        // , white);
        // rgba(255, 192, 203, 0.927)
        display: flex;
        // padding: 1rem; 
        width: 90%;
        margin: 1rem;
        border-radius: 8px;
        
        cursor: pointer; 
        transition:all .5s ease;

        &:hover {
            transform: translateY(-4%);
            // box-shadow:  0 5px 10px rgb(86, 74, 189);
            box-shadow: $sombra_box;
        }

        .parrafo{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                @extend .titulo_secundario
            }

            p{
                width: 90%;
                @extend .parrafo_general;}

            a{ @extend .boton_seleccion;
                margin-bottom: 2rem;
            }
        }

        .img{
            width: 330px;
            background-size: cover;
            background-position: center;
            border-radius: 8px;
            // border: solid 3px rgba(128, 128, 128, 0.647);
            
        }
    }

    // --------------DIVISOR___________________

    .subtitulo{
        @extend .cabecera_secundaria
    }

    
    // -----------------DIVISOR cartas de empleados-------------

    .cards_empleados_container{
  
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        // gap: 1rem;
        width: 95%;
        margin-bottom: 2rem;

        .card{
            display: flex;
            margin: 1rem 0 1rem 0;
            border-radius: 8px;
            width: 450px;
            box-shadow: 0 5px 10px rgba(100, 98, 98, 0.473);
            transition: transform 0.3s ease;

            &:hover {
                // transform: translateX(10px); /* Mueve la tarjeta 10px hacia la derecha */
                transform: scale(1.02);
            }

            .card_img{
                // border-top-left-radius: 8px;
                // border-top-right-radius: 8px;
                margin: 1rem 1rem 1rem 1rem;
                border-radius: 50%;
                background-color: $verde;
            }

            .card_body{
                // margin: 1rem;
                @extend .texto_card_empleado
            }
        }

    }
}


    /* --------  MEDIA QUERY ----------*/
/* Estrategia responsive = Mobile Last */


@media (max-width: 750px){

    .main_nosotros .parrafo_e_img{
        flex-direction: column;
        // .grid_parrafo{width: 100%;}
        .img{ width: 100%;}
    }

}